li{
margin-left: -20px;
}
.sfondoOmbraViolentaDelMistero{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(oodm.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoNicco{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(nicco.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoAndre{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(andre.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoGioppio{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(poggio.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoGutte{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(gutte.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoElena{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(elena.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoDadox{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(dadox.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoLaura{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(laura.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoPaolo{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(paolo.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoNicco{
    background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(nicco.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoAmbro{
	 background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(ambro.png);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sfondoPede{
	 background-size: cover !important;
    background-attachment: fixed;
    background-size: cover;
    background: url(pede.jpg);
    color: #efedf0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

